*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 768px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #060524, #324d94);
}

.pubWrapper svg{
    width: 1024px;
    height: 100vh;
}
.pubWrapper{
    position: relative;
    overflow: hidden;
}
/************************NUAGE**********************/
.pubWrapper #Calque_2,.pubWrapper .cls-30{
    animation: 5s nuageFlottant linear infinite alternate;
}
.pubWrapper #Calque_2{
    animation-name: nuageFlottant, deplacementHibou;
    animation-duration: 5000ms, 3000ms;
    animation-delay: 0ms, 15s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 3, 1;
    animation-fill-mode: none,forwards;
}

@keyframes nuageFlottant{
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(800px);
    }
}
@keyframes deplacementHibou{
    from{
        transform: translate(800px);
    }
    to{
        transform:translate(1800px,1110px);
    }
}

/************************BOXES**********************/
.box{
    position: absolute;
    width: 100px;
    height: 50px;
}

.box1{
    top: -50px;
    right: 250px;
}
.box2{
    top: -50px;
    right: 330px;
}
.box3{
    top: -50px;
    right: 300px;
}
/************************Building**********************/
.building{
    position: absolute;
    top: -370px;
    left: 300px;
    width: 400px;
    height: 370px;
}
/************************Plane**********************/
.plane{
    position: absolute;
    left: 0px;
    top: -80px;
    width: 500px;
    height: 500px;
    opacity: 0;
    z-index: 3;
    animation: 10s slogan linear 31s;
}

@keyframes slogan{
    from{
        transform: translate(-600px);
        opacity: 1;
    }
    to{
        transform: translate(1024px);
        opacity: 1;
    }
}
/************************Personnage**********************/

.personnage svg{
    position: absolute;
    left: -500px;
    top: 350px;
    width: 250px;
    height: 250px;
    z-index: 3;
    animation: marche 6s linear;
    animation-delay: 24s;
}
.personnage1{
    position: absolute;
    left: 450px;
    top: 350px;
    width: 250px;
    height: 250px;
    opacity: 0;
    z-index: 3;
}
.personnage #Calque_1-2 .cls-1:nth-child(1){
    animation: walking 0.8s  infinite alternate;
    animation-delay: 24s;
}
.personnage #Calque_1-2 .cls-2:nth-child(2){
    animation: walking .8s  infinite alternate;
    animation-delay: 24s;
}
.personnage .pied{
    animation: walking1 .8s  infinite alternate;
    animation-delay: 24s;
}
.personnage .pied{
    animation: walking1 .8s  infinite alternate;
    animation-delay: 24s;
}
@keyframes walking {
    from{
        transform: rotateX(0deg);

    }
    to{
        transform: rotateX(15deg);

    }
}
@keyframes walking1 {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(3deg);

    }
}
@keyframes marche {
    from{
        transform: translate(-60px);

    }
    to{
        transform: translate(550px);
    }
}